body {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #202020;
  color: white;
}
h1 {
  margin-bottom: 5px;
  margin-top: 5px;
}
#global_container {
  display: flex;
}
#tools_container {
  text-align: center;
  margin-right: 7px;
}
.tool {
  text-align: left;
  margin-top: 6px;
  border-bottom: 1px rgb(99, 98, 98) solid;
  padding: 4px;
  /* border-radius: 5px; */
}

.tool > input {
  margin-top: 4px;
}
label {
  font-size: 16px;
}

#range_max {
  height: 14px;
  margin-top: 5px;
  width: 14px;
  font-size: 12px;
  border-radius: 3px;
  margin-left: 4px;
  padding: 4;
  text-align: center;
  border: none;
}
#range_max:focus {
  outline: 0;
}

#sort {
  width: 100%;
  background-color: white;
  color: #202020;
  border-radius: 3px;
  margin-top: 5px;
  border: 0;
  outline: 0;
  transition: 0.3s;
  padding: 4px;
  font-weight: 550;
  cursor: pointer;
}
#sort:hover {
  background-color: #0075ff;
  color: white;
}

.chanel_element {
  display: flex;
  background-color: white;
  width: 300px;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 3px;
  font-size: 16px;
  font-weight: 500;
  color: #202020;
  padding: 4px;
}
.chanel_element > img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 5px;
}

#range_max::-webkit-outer-spin-button,
#range_max::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#name_filter:focus {
  outline: #0075ff 1px solid;
}
